h1
{
    color: dimgray;
    font-weight: bold;
}
h2
{
color: darkslategrey;
    font-weight: bold;
}
.paragrapheindex
{
    color: lightslategrey;
}

p
{
    font-size: 5em;
}
balise
{
    font-family: "Courier New","Arial","Arial Black","Verdana", sans-serif;
}